
body {
    font-family: Georgia, serif;
    letter-spacing: normal;
    text-align: center;
	line-height: 100%;
	text-decoration: none;
    color:rgb(233, 231, 231,0.8);
	background-color: black;
	margin: 0;
	padding: 0;}

    div{
        width:60%;
        margin-left:auto;
        margin-right:auto;
text-align: justify;
    }

h1 {
    font-size:2.7em;
    padding-top: 10%;
	letter-spacing: .15em;
    line-height: 18px;

	 }
     h2 {
        text-align: center;
        font-size:2em;
        font-weight:bold;
        letter-spacing: .2em;
        line-height: 20px;
        color:rgb(164, 149, 167);
        padding-top: 10%;
        }


p {
    margin-top: 10%;
    padding:5%;
	font-size: 1.3em;
    font-weight: normal;
	letter-spacing: .2em;
    line-height: 2;
background-color: rgb(37, 37, 48,0.5);
	color:rgb(175, 159, 179);}

    a:hover{
        color: rgb(225, 197, 241); }
        a {

        text-decoration: none;

            font-weight: bold;
            letter-spacing: 2px;
        color:rgb(233, 231, 231,0.7);}
        footer{


            text-align: center;
            padding-top:10%;

        }

        footer p{
            font-size: 1.5em;
            background-color: black;
        }